@import "../../assets/scss/6-components/_component-base";

/*------------------------------------*\
  ANCHORS
\*------------------------------------*/

a {
    display: flex;
    align-items: center;

    @include font-style(
        $font-primary,
        "small",
        get-color("links", "default"),
        400,
        16px
    );

    &.-secondary {
        color: get-color("links", "secondary");
    }

    &.-disabled {
        cursor: not-allowed;
    }

    .c-icon {
        margin-right: .25em;
    }
}
